<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clicky Zone</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script language="javascript" type="text/javascript" src="libraries/p5.js"></script>
    <script language="javascript" type="text/javascript" src="sketch.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="menu.css">
    script.
        var hostName = "#{hostName}";
        var port = "${port}";
</head>
<body>
<div class="center-top">
    <img src="images/clicky-zone.PNG">
</div>

<div class="center">
    <form onsubmit="joinLobby(event)">
        <input type="text" id = "alias" name="alias" class="form-control" placeholder="Enter an alias...">
        <button type="submit" id="play" class="btn-primary">PLAY</button>
    </form>
</div>

<div class="center-bottom">
    <div id="rule-title-holder">
        <p id="rule-title"><b>King of the Hill</b></p>
        <p><br>5 Minutes</p>
        <p>3 Other Players</p>
        <p>One Circle</p>
        <p>Clicking on the circle makes you king.</p>
        <p>Consecutive clicks as king adds a score multiplier.</p>
    </div>
</div>
</body>
</html>